body {
    background-image: url(./images/test-bg2.jpg);
}
.diplom-bilde {
    top:23vh;
    background-repeat: no-repeat;
    position:absolute;
    width:60vw;
    height:60vh;
    background-size: contain;
    background-position: center;
    background-image: url(./images/Diplom\ 1.png)
}

.print-diplom-div {
    display:flex;
    flex-direction: column;
    position:absolute;
    align-items: center;
}

.print-btn {
    position:absolute;
    width:10vw;
    height:10vh;
    top:85vh;
    font-size: 2vw;
    border-radius: 25px;
}

.print-btn:hover {
    cursor: pointer;
}
