.cointainer{
    background-color:rgba(244.0000006556511, 242.00000077486038, 255, 1);
    width:1440px;
    height:916px;
    position:absolute;
}
.e337_236 {
    background-color:rgba(244.0000006556511, 242.00000077486038, 255, 1);
    width:1440px;
    height:916px;
    position:absolute;
}
.e337_237 {
    background-color:rgba(211.7806175351143, 190.77915966510773, 136.77498310804367, 0.10000000149011612);
    width:1434px;
    height:916px;
    position:absolute;
    left:0px;
    top:0px;
}
.e337_238 {
    width:1440px;
    height:768px;
    position:absolute;
    left:0px;
    top:125px;
    background-image:url(images/bg_img.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.e349_200 {
    width:1433.999755859375px;
    height:783.0003662109375px;
    position:absolute;
    left:0px;
    top:133px;
}
.e349_201 {
    background-color:rgba(148.59876304864883, 249.6875050663948, 128.3810207247734, 0.5);
    width:1032.009521484375px;
    height:338.736572265625px;
    position:absolute;
    left:0px;
    top:0px;
}
.e349_202 {
    transform: rotate(-14.195220827633857deg);
    background-color:rgba(236.93750202655792, 164.33460026979446, 60.616536140441895, 0.5);
    width:563.3792724609375px;
    height:646.1947631835938px;
    position:absolute;
    left:675.3046875px;
    top:172.75149536132812px;
}
.e349_203 {
    background-color:rgba(214.62499290704727, 72.79366672039032, 193.61292600631714, 0.20000000298023224);
    width:1001.3140869140625px;
    height:376.17352294921875px;
    position:absolute;
    left:77.2685546875px;
    top:292.2789611816406px;
}
.e337_239 {
    width:1300px;
    height:500px;
    position:absolute;
    left:73px;
    top:302px;
}
.e337_245 {
    width:600px;
    height:500px;
    position:absolute;
    left:700px;
    top:0px;
}
.e337_246 {
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color:rgba(150.0000062584877, 96.00000187754631, 142.00000673532486, 1);
    width:600px;
    height:500px;
    position:absolute;
    left:0px;
    top:0px;
    border-top-left-radius:50px;
    border-top-right-radius:50px;
    border-bottom-left-radius:50px;
    border-bottom-right-radius:50px;
}
.337_246 {
        border: 10px solid rgba(129.00000751018524, 169.00000512599945, 121.00000038743019, 1);
    }
.e337_247 {
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    color:rgba(255, 255, 255, 1);
    width:594px;
    height:64px;
    position:absolute;
    left:6px;
    top:384px;
    font-family:Nunito;
    text-align:center;
    font-size:60px;
    letter-spacing:3;
}
.e337_250 {
    width:560px;
    height:500px;
    position:absolute;
    left:0px;
    top:0px;
}
.e337_251 {
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color:rgba(129.00000751018524, 169.00000512599945, 121.00000038743019, 1);
    width:559.7014770507812px;
    height:500px;
    position:absolute;
    left:0px;
    top:0px;
    border-top-left-radius:50px;
    border-top-right-radius:50px;
    border-bottom-left-radius:50px;
    border-bottom-right-radius:50px;
}
.337_251 {
        border:10px solid rgba(150.0000062584877, 96.00000187754631, 142.00000673532486, 1);
    }
.e337_253 {
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    color:rgba(255, 255, 255, 1);
    width:560px;
    height:54px;
    position:absolute;
    left:0px;
    top:384px;
    font-family:Nunito;
    text-align:center;
    font-size:60px;
    letter-spacing:3;
}
.e337_264 {
    width:293px;
    height:354px;
    position:absolute;
    left:133px;
    top:16px;
    background-image:url(images/pngwing_1.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.e337_255 {
    width:1440px;
    height:133px;
    position:absolute;
    left:2px;
    top:0px;
}
.e337_256 {
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.5);
    background-color:rgba(199.0000033378601, 185.00000417232513, 165.00000536441803, 0.8999999761581421);
    width:1440px;
    height:125px;
    position:absolute;
    left:0px;
    top:0px;
}
.e337_257 {
    width:422.6519470214844px;
    height:117px;
    position:absolute;
    left:0px;
    top:0px;
    background-image:url(images/ancep_logo_1_2023_1.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.e337_258 {
    width:261.5469665527344px;
    height:133px;
    position:absolute;
    left:878.12158203125px;
    top:0px;
}
.ei337_258_7_219 {
    color:rgba(54.00000058114529, 54.00000058114529, 54.00000058114529, 1);
    width:262px;
    height:133px;
    position:absolute;
    left:0px;
    top:0px;
    font-family:Nunito;
    text-align:center;
    font-size:30px;
    letter-spacing:0;
}
.e337_259 {
    width:232.70718383789062px;
    height:133px;
    position:absolute;
    left:645.4140625px;
    top:0px;
}
.ei337_259_7_219 {
    color:rgba(54.00000058114529, 54.00000058114529, 54.00000058114529, 1);
    width:233px;
    height:133px;
    position:absolute;
    left:0px;
    top:0px;
    font-family:Nunito;
    text-align:center;
    font-size:30px;
    letter-spacing:0;
}
.e337_260 {
    width:222.76243591308594px;
    height:133px;
    position:absolute;
    left:422.6519775390625px;
    top:0px;
}
.ei337_260_7_219 {
    color:rgba(54.00000058114529, 54.00000058114529, 54.00000058114529, 1);
    width:223px;
    height:133px;
    position:absolute;
    left:0px;
    top:0px;
    font-family:Nunito;
    text-align:center;
    font-size:30px;
    letter-spacing:0;
}
.heading {
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.20000000298023224);
    color:rgba(255, 255, 255, 1);
    width:1440px;
    height:48px;
    position:absolute;
    left:-6px;
    top:178px;
    font-family:Nunito;
    text-align:center;
    font-size:90px;
    letter-spacing:3;
}
.aloneImg {
    width:457px;
    height:231px;
    position:absolute;
    left:850px;
    top:401px;
    background-image:url(images/pngwing_2.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.e349_198 {
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color:rgba(199.0000033378601, 185.00000417232513, 165.00000536441803, 1);
    width:1440px;
    height:23px;
    position:absolute;
    left:0px;
    top:893px;
}
