@charset "utf-8";
body {
    width:100vw;
    height:100vh;
    background-image: url(./images/bg-1920.png);
	background-repeat: no-repeat;
}	

.tittel-resultat {
	position: absolute;
	top:5vh;
	left:40vw;
	font-size: 100px;
	color:white;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;;
}

.tekstBoks1 {
	background-image: url(./images/Rectangle\ 33.png);
	height:300px;
	width: 600px;
	top:20%;
	position:absolute;
	left:60%;
	background-repeat: no-repeat;
}
.boks1-p {
	position: relative;
	top:12%;
	left:4%;
	font-size:18px;
}

.videreBtn {
	position:relative;	
	left:50%;
	top:10%;
	font-size:30px;
	border-style: solid;
	border-radius: 100px;
}

.videreBtn:hover {
cursor: pointer;
background-color: rgb(208, 208, 208);
}

.tekstBoks2 {
	background-image: url(./images/Rectangle\ 33.png);
	height:300px;
	width: 600px;
	top:50%;
	left:10%;
	position:absolute;
	left:63%;
	background-repeat: no-repeat;
	display:inline-block;
}
.boks2-p {
	font-size:18px;
	position:relative;
	top:10%;
	left:10%
}
.diplomBtn {
	position:relative;	
	left:50%;
	top:20%;
	font-size:30px;
	border-style: solid;
	border-radius: 100px;
}

.diplomBtn:hover {
	cursor: pointer;
	background-color: rgb(208, 208, 208);
}

.dineSvar-div {
	background-repeat: no-repeat;
	display:flex;
	align-items:flex-end;
	background-image: url(./images/dineSvar-bg.png);
	position: absolute;
	width:35vw;
	height: 615px;
	top:30%;
	left:10%;
}
.dineSvar-p {
	position: relative;
	bottom:80%;
	font-size:42px;
	left:15%;
	color:white;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;;
}

.gjennomsnitt-div {
	background-repeat: no-repeat;
	display:flex;
	align-items:flex-end;
	background-image: url(./images/gjennomsnitt-bg.png);
	position:absolute;
	width:35vw;
	height: 615px;
	top:30%;
	left:35%;
}

.gjennomsnitt-p {
	position:relative;
	bottom:80%;
	font-size:42px;
	left:10%;
	color:white;
	text-shadow: 1px 0 0 .000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.dineSvarBlokk-1 {
	width:50px;
	height:10em;	
	display:inline-block;
	position:relative;
	background-color: blue;
	right:8em;
	bottom:10%;
}
.dineSvarBlokk-2 {
	width:50px;
	height:8em;	
	display:inline-block;
	position:relative;
	background-color: red;
	right:4em;
	bottom:10%;
}
.dineSvarBlokk-3 {
	width:50px;
	height:15em;	
	display:inline-block;
	position:relative;
	background-color: yellow;
	right:0em;
	bottom:10%;
}
.blokk-p-1 {
	position:relative;
	top:75%;
	font-size: 16px;
	left:15%;
}
.blokk-p-2 {
	position:relative;
	top:70%;
	font-size: 16px;
	right:40%;
}
.blokk-p-3 {
	position:relative;
	top:85%;
	right:40%;
	font-size:16px;
}

.gjennomsnitt-blokk-1 {
	flex-shrink: 0;
	width:50px;
	height:10em;	
	display:inline-block;
	position:relative;
	background-color: blue;
	right:11em;
	bottom:10%;
}
.gjennomsnitt-blokk-2 {
	width:50px;
	height:10em;	
	display:inline-block;
	position:relative;
	background-color: red;
	right:7em;
	bottom:10%;
}
.gjennomsnitt-blokk-3 {
	width:50px;
	height:15em;	
	display:inline-block;
	position:relative;
	background-color: yellow;
	right:3em;
	bottom:10%;
}

.gs-blokk-p-1 {
	position:relative;
	top:75%;
	font-size: 16px;

}
.gs-blokk-p-2 {
	position:relative;
	top:75%;
	font-size: 16px;
	right:40%;
}
.gs-blokk-p-3 {
	position:relative;
	top:83%;
	right:40%;
	font-size:16px;
}

.ds-score-blokk-1 {
	position:relative;
	bottom:25%;
	left:30%;
	font-size:18px;
}

.ds-score-blokk-2 {
	position:relative;
	bottom:30%;
	left:30%;
	font-size:18px;
}

.ds-score-blokk-3 {
	position:relative;
	bottom:20%;
	left:30%;
	font-size:18px;
}

.gs-score-blokk-1 {
	position:relative;
	bottom:25%;
	left:30%;
	font-size:18px;
}

.gs-score-blokk-2 {
	position:relative;
	bottom:25%;
	left:30%;
	font-size:18px;
}

.gs-score-blokk-3 {
	position:relative;
	bottom:20%;
	left:30%;
	font-size:18px;
}