/*GENERAL*/
/*main{
    max-width: 100%;
    background: aquamarine;
}
body {
    overflow: hidden;
    margin: 0px;
}

.page {
    background-image:url(./images/bg_img.png);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    background-color:rgba(243.6556175351143, 243.6556175351143, 243.6556175351143, 0.33000001311302185);
    width: 100vw;
    height:100vh;
}
/* AGE CHOICE MODULE */
/*.container{
    display: flex;
    flex-direction: column;
    
    width: 100vw;
    
    justify-content: center;
    align-items: center;
    position: static;

}
.heading {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color:rgba(255, 255, 255, 1);
    width:100vw;
    height:15vh;
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content:center ;
    position: static;
    font-family:Nunito;
    text-align:center;
    font-size:10vh;
    letter-spacing:3;
}
.text {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color:rgba(255, 255, 255, 1);
    width:560px;
    height:20%;
    position:static;
    font-family:Nunito;
    text-align: center;
    font-size:6vh;
    letter-spacing:3;
    
}
.ageGroup {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height:60vh;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}
.greenBox {
    display: flex;
    flex-direction: column;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color:rgba(129.00000751018524, 169.00000512599945, 121.00000038743019, 1);
    width:20vw;
    height:60vh;
    justify-content: center;
    align-items: center;
    top:0;
    border-top-left-radius:50px;
    border-top-right-radius:50px;
    border-bottom-left-radius:50px;
    border-bottom-right-radius:50px;

    box-sizing: border-box;
    border: 10px solid rgba(150, 96, 142, 0.8);;
    margin: 10px;
}
.purpBox {
    display: flex;
    flex-direction: column;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color:#96608e;
    justify-content: center;
    align-items: center;
    width:20vw;
    height:60vh;
    top:0;
    border-top-left-radius:50px;
    border-top-right-radius:50px;
    border-bottom-left-radius:50px;
    border-bottom-right-radius:50px;

    box-sizing: border-box;
    border: 10px solid rgba(129.00000751018524, 169.00000512599945, 121.00000038743019, 0.8);
    margin: 10px;
}
.brownBox {
    display: flex;
    flex-direction: column;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color:rgb(163, 141, 98);
    justify-content: center;
    align-items: center;
    width:20vw;
    height:60vh;
    top:0;
    border-top-left-radius:50px;
    border-top-right-radius:50px;
    border-bottom-left-radius:50px;
    border-bottom-right-radius:50px;

    box-sizing: border-box;
    border: 10px solid rgba(129.00000751018524, 169.00000512599945, 121.00000038743019, 0.8);
    margin: 10px;
}

.brownImg {
    align-items: center;
    width:20vw;
    height:80%;
    left:10vw;
    top:16px;
    display: flex;
    background-image:url(./images/MInimalisme\ 1.png);
    background-repeat:no-repeat;
    background-size:contain;
    background-position: center;
    
}

.greenImg {
    align-items: center;
    width:20vw;
    height:80%;
    left:10vw;
    top:16px;
    display: flex;
    background-image:url(./images/image\ 1.png);
    background-repeat:no-repeat;
    background-size:contain;
    background-position: center;
    
}
.purpImg {
    align-items: center;
    width:14vw;
    height:80%;
    display: flex;
    position:static;
    background-image:url(./images/krig2.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    border-radius: 25px;

}
.bgImg {

    overflow: hidden;
    width:100vw;
    height:98vh;
    position: absolute;
    left:0px;
    background-image:url(./images/bg_img.png);
    background-repeat:repeat-y;
    background-size: 100vw, 100vh;

}
/* FOR HEADER*/
/*.containerHeader {
    display: flex;
    position: static;
    width: 100vw;
    height: 10vh;
    background-color: #c7b9a5c7;

}

.header {
    display: flex;
    flex-direction: row;
    margin-top: 0;

}

.logo{
    width: 18vw;
    height: 10vh;
    background-image: url(./images/ancep_logo_1_2023_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    justify-content: center;
    align-items: center;
    margin-left: 1vw;
    margin-right: 15vw;
}

.hjem {
    margin-top: 4vh;
    margin-left: 2vw;
    font-family: Inter;
    cursor: pointer;
    justify-content: center;
    font-size: 3vh;
    text-decoration: none;
    outline: 0;
    border-bottom: solid 0.5vh transparent;
    transition: color .4s ease-out, border-bottom-color .4s ease-out;
}

.hjem:hover{
    border-bottom: solid 0.5vh #96608ed8;

}

.dilemmaer {
    margin-top: 4vh;
    margin-left: 2vw;
    font-family: Inter;
    cursor: pointer;
    justify-content: center;

    font-size: 3vh;
    border-bottom: solid 0.5vh transparent;
    transition: color .4s ease-out, border-bottom-color .4s ease-out;
}

.dilemmaer:hover{
    border-bottom: solid 0.5vh #96608ed8;
}

.arkiv {
    margin-top: 4vh;
    margin-left: 2vw;
    font-family: Inter;
    cursor: pointer;
    justify-content: center;

    font-size: 3vh;
    border-bottom: solid 0.5vh transparent;
    transition: color .4s ease-out, border-bottom-color .4s ease-out;
}

.arkiv:hover{
    border-bottom: solid 0.5vh #96608ed8;
}