* {
    box-sizing: border-box;
}
main{
    max-width: 100%;
    background: aquamarine;
}
body{
    font-family: Arial;
    margin: 0;
}
.age-group {
    width:560px;
    height:500px;
    position:absolute;
    left:0px;
    top:0px;
}
.headertext {
    color: rgba(54.00000058114529, 54.00000058114529, 54.00000058114529, 1);
    width: 262px;
    height: 133px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Inter;
    text-align: center;
    font-size: 30px;
    letter-spacing: 0;
}
