.body {
    margin: 0;
    overflow: hidden;
}

.mainCon {
    display: flex;
    flex-direction: column;
}

.questContain {
    margin-top: 10vh;
}

.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 60vh;
    height: 10vw;
    margin-top: -63vh;
    z-index: 10;
}

.introTitle {
    font-size: 8vh;
    color: white;
    -webkit-text-stroke: 1px black;

}

.introToGameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    margin-bottom: 0;
    border: 2px solid black;
    background-image: url("../images/flowerpower.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
/*
.abstractGreenShape {
    width: 0;
    height: 0;
    position: absolute;
    border-left: 40vh solid green;
    border-right: 20vh solid transparent;
    border-top: 20vh solid transparent;
    border-bottom: 70vh solid green;
    transform: rotate(100deg);
    margin-left: -30vh;
    margin-top: -20vh;
    opacity: 0.3;

}

.abstractPurpleShape {
    width: 0;
    height: 10vh;
    position: absolute;
    border-left: 45vh solid purple;
    border-right: 35vh solid transparent;
    border-top: 50vh solid transparent;
    border-bottom: 40vh solid purple;
    transform: rotate(245deg);
    margin-left: 30vh;
    margin-top: 0vh;
    opacity: 0.3;
}

.abstractYellowShape {
    width: 0;
    height: 0;
    position: absolute;
    border-left: 30vh solid yellow;
    border-right: 30vh solid transparent;
    border-top: 45vh solid transparent;
    border-bottom: 40vh solid yellow;
    transform: rotate(120deg);
    margin-left: -55vh;
    margin-top: 80vh;
    opacity: 0.3;
}
*/
.introTextBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10vh;
    height: 40vh;
    width: 45%;
    border: 0.5px solid black;
    border-radius: 10px;
    background-color: #9F9F9F4E;
    z-index: 10;

}

.introVognText {
    font-family: Inter;
    font-size: 3vh;
    text-align: center;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.goForward {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 8vh;
    width: 20%;
    margin-top: 40vh;
    border: 0.5px solid black;
    border-radius: 3vh;
    background-color: white;
    cursor: pointer;

}

.goForward:hover {
    transition: ease-in-out 0.5s;
    background-color: #93c572;
}

.goForwardText {
    text-align: center;
    font-size: 3vh;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/*=============================================================================================================*/

.questionOneContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    width: 50%;
    border: 0.5px solid black;
    border-radius: 10px;
    background-color: #9F9F9F4E;
}

.questionsOneTextContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100%;

}

.questionOne{
    font-size: 5vh;
    z-index: 10;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.yesOrNo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    gap: 20%;
    z-index: 10;

}


.yes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14.6vh;
    width: 14vw;
    margin-top: 3vh;
    border: 0.5px solid black;
    border-radius: 12.26vh;
    background-color: white;
    margin-top: 10vh;
    cursor: pointer;

}

.yes:hover {
    transition: ease-in 0.5s;
    background-color: #93c572;
}

.yesTextDesign {
    font-size: 4vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.noTextDesign {
    font-size: 4vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.no {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14.6vh;
    width: 14vw;
    margin-top: 3vh;
    border: 0.5px solid black;
    border-radius: 12.26vh;
    background-color: white;
    margin-top: 10vh;
    cursor: pointer;
}

.no:hover {
    transition: ease-in 0.5s;
    background-color: #ff6961;

}