@charset "utf-8";
body {
    width:100vw;
    height:100vh;
    background-image: url(./images/bg-1920.png);
	background-repeat: no-repeat;
}	
.main-div {
	display:flex;
    flex-direction: column;
    width: 100vw;   
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    align-items: center;
}

.midt-div {
	display:flex;
	flex-direction: row;
	width:100vw;
	height:100vh;
}

.venstre-div {
	display:flex;
	flex-direction: row;
	width:100vw;
	height:100vh;
	position: absolute;
}

.høyre-div {
	display:flex;
	flex-direction: column;
	width:100vw;
	height:100vh;
	position: absolute;
}

.div-resultat-tittel {
    position: absolute;
    display:flex;
	flex-direction: column;
    width:100vw;
    height:20vh;
    position:absolute;
    align-items: center;
	top:5vh;
}

.tittel-resultat {
	width: 100vw;
    height: 20vh;
    position:static;
    font-size:10vh;
    color:white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    text-align: center;
}

.tekstBoks1 {
	background-image: url(./images/Rectangle\ 33.png);
	height:30vh;
	width: 40vw;
	top:20%;
	background-size: contain;
	position:absolute;
	left:60%;
	background-repeat: no-repeat;
}
.boks-p {
	position: absolute;
	top:4vh;
	left:3vw;
	font-size:1vw;
}

.btn {
	position:absolute;	
	left:17vw;
	top:17vh;
	font-size:2vw;
	border-style: solid;
	border-radius: 100px;
}

.btn:hover {
cursor: pointer;
background-color: rgb(208, 208, 208);
}

.tekstBoks2 {
	background-image: url(./images/Rectangle\ 33.png);
	height:30vh;
	width: 40vw;
	top:50%;
	left:10%;
	position:absolute;
	left:63%;
	background-repeat: no-repeat;
	background-size: contain;
}

.diplomBtn {
	position:relative;	
	left:50%;
	top:20%;
	font-size:30px;
	border-style: solid;
	border-radius: 100px;
}

.dineSvar-p-div {
	display:flex;
	flex-direction: column;
	background-position: top;
	justify-content: center;
	align-items: center;
	position:absolute;
	bottom:50vh;
}

.dineSvar-div {
	background-repeat: no-repeat;
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-image: url(./images/dineSvar-bg.png);
	position: absolute;
	width:18.6vw;
	height: 63.5vh;
	top:30vh;
	left:10%;
	background-size: contain;
}
.dineSvar-p {
	text-align: center;
	position: static;
	font-size:5vh;
	color:white;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;;
}

.blokker-ds-div {
	display:flex;
	flex-direction: row;
	gap:3vw;	
	position:absolute;
	top:40vh; 	
	align-items: center;
}

.gjennomsnitt-div {
	background-repeat: no-repeat;
	display:flex;
	align-items:center;
	justify-content: center;
	background-image: url(./images/gjennomsnitt-bg.png);
	flex-direction: column;
	width:18.6vw;
	height: 63.5vh;
	top:30vh;
	left:35%;
	background-size: contain;
	position:absolute;
}

.gjennomsnitt-p-div {
	display:flex;
	flex-direction: column;
	background-position: top;
	justify-content: center;
	align-items: center;
	position:absolute;
	bottom:50vh;
}

.gjennomsnitt-p {
	text-align: center;
	position: static;
	font-size:5vh;
	color:white;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;;
}

.dineSvarBlokk-1 {
	width:2.5vw;
	height:10vh;		
	display:inline-block;
	background-color: blue;
	position: static;
}
.dineSvarBlokk-2 {
	width:2.5vw;
	height:8vh;	
	display:inline-block;
	position:static;
	background-color: red;
}
.dineSvarBlokk-3 {
	width:2.5vw;
	height:15vh;	
	display:inline-block;
	position:static;
	background-color: yellow;
}
.blokk-p-1 {
	position:absolute;
	top:12.8vh;
	font-size: 1vw;
}
.blokk-p-2 {
	position:absolute;
	top:12.8vh;
	font-size: 1vw;
	right:4.3vw;
}
.blokk-p-3 {
	position:absolute;
	top:13vh;
	font-size: 1vw;
	left:10vw;
}

.gs-blokker-div {
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;	
	position:absolute;
	top:40vh;
	gap:3vw;
}

.gjennomsnitt-blokk-1 {
	position:static;
	width:2.5vw;
	height:10vh;	
	display:inline-block;
	background-color: blue;
}
.gjennomsnitt-blokk-2 {
	position:static;
	width:2.5vw;
	height:10vh;	
	display:inline-block;
	background-color: red;
}
.gjennomsnitt-blokk-3 {
	position:static;
	width:2.5vw;
	height:15vh;	
	display:inline-block;
	background-color: yellow;
}

.gs-blokk-p-1 {
	position:absolute;
	top:12.8vh;
	font-size: 1vw;

}
.gs-blokk-p-2 {
	position:absolute;
	top:12.8vh;
	font-size: 1vw;
	right:4.3vw;
}
.gs-blokk-p-3 {
	position:absolute;
	top:13vh;
	font-size: 1vw;
	left:10vw;
}

.ds-score-blokk-1 {
	position:absolute;
	font-size:1vw;
	bottom:10.5vh;
	left:0.5vw;
}

.ds-score-blokk-2 {
	position:absolute;
	font-size:1vw;
	bottom:10vh;
	left:6.5vw;
}

.ds-score-blokk-3 {
	position:absolute;
	font-size:1vw;
	bottom:13.5vh;
	left:11.5vw;
}

.gs-score-blokk-1 {
	position:absolute;
	font-size:1vw;
	bottom:10.5vh;
	left:0.5vw;
}

.gs-score-blokk-2 {
	position:absolute;
	font-size:1vw;
	bottom:10.5vh;
	left:6.5vw;
}

.gs-score-blokk-3 {
	position:absolute;
	font-size:1vw;
	bottom:13.5vh;
	left:11.5vw;
}